h1 {
    text-align: center;
    position: relative;
    padding-top: 13vh ;
    padding-bottom: 1%;
}

h1::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #77ba99;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
}

.event-card {
    width: 35vh;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra per una migliore visualizzazione */
    background-color: #fff; /* Aggiunge un colore di sfondo bianco */
    transition: 0.5s;
}

.event-card:hover .event-content {
    opacity: 0;
    transition: 0.3s;
}

.event-card .edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    transition: 0.3s;
    color: white;

}

.event-card:hover .edit-icon {
    opacity: 1;
}

/* Rimuove l'effetto di sottolineatura blu dai link */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.add-event-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s;
}

.add-event-icon:hover {
    background-color: #333;
}

.add-event-icon i {
    font-size: 16px;
    color: #333;
    line-height: 1;
    transition: color 0.3s;
}

.add-event-icon:hover i {
    color: #f0f0f0;
}
.event-name {
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 30px;
}

.date{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}


h4 {
    font-size: 1.8vh;
    text-align: center;
}

.category h4 {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.tag-list {
    display: flex;
    justify-content: center;
}
.label {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
}
.tag.label {
  background-color: #77ba99;
}
