<head>
  <meta charSet="utf-8">
  <title>Crea un nuovo evento</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Font Link for Icons -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/create_style.css">
</head>

<body>
{% include './fragments/header.html' %}
<h1>Crea un nuovo evento</h1>
<form method="POST" action="/insert-event" id="event-form">
  <label htmlFor="nome_evento">Nome:</label>
  <input type="text" id="nome_evento" name="nome_evento" required><br>

  <label htmlFor="categoria">Categoria:</label>
  <select id="categoria" name="categoria" required>
    <option value="" disabled selected>Scegli una categoria</option>
    <option value="Mostra">Mostra</option>
    <option value="Concerto">Concerto</option>
    <option value="Festa">Festa</option>
    <option value="Cerimonia">Cerimonia</option>
    <option value="Conferenza">Conferenza</option>
  </select><br>

  <label htmlFor="tags">Tags:</label>
  <div id="tag-error" class="error"></div>
  <input type="text" id="tags" name="tags" required><br>


  <div class="date-block">
    <label htmlFor="data_inizio">Data inizio:</label>
    <input type="date" id="data_inizio" name="data_inizio" required><br>

    <label htmlFor="data_fine">Data fine:</label>
    <input type="date" id="data_fine" name="data_fine" required><br>
  </div>
  <div id="date-error" class="error"></div>


  <label htmlFor="luogo">Luogo:</label>
  <input type="text" id="luogo" name="luogo" required><br>

  <label htmlFor="informazioni_aggiuntive">Informazioni aggiuntive:</label><br>
  <textarea id="informazioni_aggiuntive" name="informazioni_aggiuntive" rows="4" cols="50"></textarea><br>

  <fieldset>
    <legend>Budget</legend>
    <input type="checkbox" id="include_budget" name="include_budget">
    <label htmlFor="include_budget">Includi budget</label>


    <div id="budget_fields" style="display:none;">
    <label htmlFor="totale_spesa">Totale spesa:</label>
    <span id="totale_spesa_text">€ 0.00</span><br>
    <input type="hidden" id="totale_spesa" name="totale_spesa">


      <ul id="spese">
        <li>
          <label htmlFor="costo1">1) Costo:</label>
          <input type="text" id="costo1" name="costo1">
          <label htmlFor="descrizione1">1) Descrizione:</label>
          <input type="text" id="descrizione1" name="descrizione1">
        </li>
      </ul>

      <button type="button" id="add-spesa-btn">Aggiungi spesa</button>
    </div>
  </fieldset>

  <fieldset>
    <legend>Schedule</legend>
    <input type="checkbox" id="include_schedule" name="include_schedule">
    <label htmlFor="include_schedule">Includi schedule</label>



    <div id="schedule_fields" style="display:none;">
      <div id="time-error" class="error"></div>
      <ul id="attivita">
        <li>
          <label htmlFor="actname1">1) Nome:</label>
          <input type="text" id="actname1" name="actname1">
          <div class="orario">
            <label htmlFor="orario_inizio1">Orario inizio:</label>
            <input type="text" id="orario_inizio1" name="orario_inizio1", pattern= '^([01]?[0-9]|2[0-3]):[0-5][0-9]$', title='Inserisci un orario nel formato HH:mm'>
            <label htmlFor="orario_fine1">Orario fine:</label>
            <input type="text" id="orario_fine1" name="orario_fine1", pattern= '^([01]?[0-9]|2[0-3]):[0-5][0-9]$', title='Inserisci un orario nel formato HH:mm'>
          </div>
        </li>
      </ul>

      <button type="button" id="add-attivita-btn">Aggiungi attività</button>
    </div>
  </fieldset>

  <div class="submit">
      <input type="submit" id="submitBtn" value="Crea Evento">
  </div>
</form>

{% include './fragments/footer.html' %}
</body>

<script>
  $(document).ready(function () {


    function validateTimeFormat(time) {
      var regex = /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/;
      return regex.test(time);
    }



    $('#include_budget').change(function () {
      if (this.checked) {
        $('#budget_fields').show();
      } else {
        $('#budget_fields').hide();
        resetBudgetFields();
      }
    });

    $('#include_schedule').change(function () {
      if (this.checked) {
        $('#schedule_fields').show();
      } else {
        $('#schedule_fields').hide();
        resetScheduleFields();
      }
  });

  function resetBudgetFields() {
    $('#totale_spesa_text').text('0');
    $('#totale_spesa').val('');
    $('#spese').empty();
    $('#costo1').val('');
    $('#descrizione1').val('');
    var li = $('<li>');

    var costoLabel = $('<label>', {
        'for': 'costo1',
        'text': '1) Costo:'
    });
    li.append(costoLabel);

    var costoInput = $('<input>', {
      'type': 'text',
      'id': 'costo1',
      'name': 'costo1'
    });

    li.append(costoInput);

    var descrizioneLabel = $('<label>', {
      'for': 'descrizione1',
      'text': '1) Descrizione:'
    });
    li.append(descrizioneLabel);

    var descrizioneInput = $('<input>', {
      'type': 'text',
      'id': 'descrizione1',
      'name': 'descrizione1'
    });
    li.append(descrizioneInput);

    $('#spese').append(li);

  }

    function resetScheduleFields() {
      $('#attivita').empty();
      $('#actname1').val('');
      $('#orario_inizio1').val('');
      $('#orario_fine1').val('');

      var li = $('<li>');

      var nomeLabel = $('<label>', {
        'for': 'actname1',
        'text': '1) Nome:'
      });
      li.append(nomeLabel);

      var nomeInput = $('<input>', {
        'type': 'text',
        'id': 'actname1',
        'name': 'actname1'
      });
      li.append(nomeInput);

      var div = $('<div>', {
        'class': 'orario'
      });

      var orarioInizioLabel = $('<label>', {
        'for': 'orario_inizio1',
        'text': 'Orario inizio:'
      });
      div.append(orarioInizioLabel);

      var orarioInizioInput = $('<input>', {
        'type': 'text',
        'id': 'orario_inizio1',
        'name': 'orario_inizio1',
        'pattern': '^([01]?[0-9]|2[0-3]):[0-5][0-9]$',
        'title': 'Inserisci un orario nel formato HH:mm'
      });
      div.append(orarioInizioInput);

      var orarioFineLabel = $('<label>', {
        'for': 'orario_fine1',
        'text': 'Orario fine:'
      });
      div.append(orarioFineLabel);

      var orarioFineInput = $('<input>', {
        'type': 'text',
        'id': 'orario_fine1',
        'name': 'orario_fine1',
        'pattern': '^([01]?[0-9]|2[0-3]):[0-5][0-9]$',
        'title': 'Inserisci un orario nel formato HH:mm'
      });
      div.append(orarioFineInput);
      li.append(div)

      $('#attivita').append(li);
    }

    $('#include_schedule').change(function () {
      $('#schedule_fields').toggle(this.checked);
    });

    $('#add-spesa-btn').click(function () {
      var speseList = $('#spese');
      var spesaIndex = speseList.children('li').length + 1;

      var li = $('<li>');

      var costoLabel = $('<label>', {
        'for': 'costo' + spesaIndex,
        'text': spesaIndex + ') Costo:'
      });
      li.append(costoLabel);

      var costoInput = $('<input>', {
        'type': 'text',
        'id': 'costo' + spesaIndex,
        'name': 'costo' + spesaIndex
      });
      li.append(costoInput);

      var descrizioneLabel = $('<label>', {
        'for': 'descrizione' + spesaIndex,
        'text': spesaIndex + ') Descrizione:'
      });
      li.append(descrizioneLabel);

      var descrizioneInput = $('<input>', {
        'type': 'text',
        'id': 'descrizione' + spesaIndex,
        'name': 'descrizione' + spesaIndex
      });
      li.append(descrizioneInput);

      var removeButton = $('<button>', {
        'type': 'button',
        'class': 'remove-field-btn',
        'text': 'Rimuovi'
      });

      li.append(removeButton);

      speseList.append(li);
      recalculateTotalExpense();

    });

    $(document).on('click', '.remove-field-btn', function () {
      $(this).closest('li').remove();
      recalculateTotalExpense();
    });

    $(document).on('input', 'input[id^="costo"]', function () {
      recalculateTotalExpense();
    });

    function recalculateTotalExpense() {
      var totalExpense = 0;

      $('input[id^="costo"]').each(function() {
        var cost = parseFloat($(this).val());
        if (!isNaN(cost)) {
          totalExpense += cost;

        }

      });

      $('#totale_spesa_text').text('€ ' + totalExpense.toFixed(2));
      $('#totale_spesa').val(totalExpense);
    }


    $('#add-attivita-btn').click(function () {
      var attivitaList = $('#attivita');
      var attivitaIndex = attivitaList.children('li').length + 1;

      var li = $('<li>');

      var nomeLabel = $('<label>', {
        'for': 'actname' + attivitaIndex,
        'text': attivitaIndex + ') Nome:'
      });
      li.append(nomeLabel);

      var nomeInput = $('<input>', {
        'type': 'text',
        'id': 'actname' + attivitaIndex,
        'name': 'actname' + attivitaIndex
      });
      li.append(nomeInput);


      var div = $('<div>', {
        'class': 'orario'
      });

      var orarioInizioLabel = $('<label>', {
        'for': 'orario_inizio' + attivitaIndex,
        'text': 'Orario inizio:'
      });
      div.append(orarioInizioLabel);

      var orarioInizioInput = $('<input>', {
        'type': 'text',
        'id': 'orario_inizio' + attivitaIndex,
        'name': 'orario_inizio' + attivitaIndex,
        'pattern': '^([01]?[0-9]|2[0-3]):[0-5][0-9]$',
        'title': 'Inserisci un orario nel formato HH:mm'
      });
      div.append(orarioInizioInput);

      var orarioFineLabel = $('<label>', {
        'for': 'orario_fine' + attivitaIndex,
        'text': 'Orario fine:'
      });
      div.append(orarioFineLabel);

      var orarioFineInput = $('<input>', {
        'type': 'text',
        'id': 'orario_fine' + attivitaIndex,
        'name': 'orario_fine' + attivitaIndex,
        'pattern': '^([01]?[0-9]|2[0-3]):[0-5][0-9]$',
        'title': 'Inserisci un orario nel formato HH:mm'
      });
      div.append(orarioFineInput);



      var removeButton = $('<button>', {
        'type': 'button',
        'class': 'remove-field-btn',
        'text': 'Rimuovi'
      });
      div.append(removeButton);
      li.append(div)
      attivitaList.append(li);



    });

    $(document).on('click', '.remove-field-btn', function () {
      $(this).closest('li').remove();
    });

  $('#submitBtn').click(function() {
      var tagsInput = $('#tags').val().trim();
      var regex = /^[a-zA-Z0-9]+(( )*,( )*[a-zA-Z0-9]+)*$/;

      // Verifica se l'input dei tag corrisponde al formato corretto utilizzando una regex
      if (!regex.test(tagsInput)) {
        $('#tag-error').text('Inserisci i tag separati da virgola (caratteri alfanumerici).');
        return false;
      } else {
        var tagsArray = tagsInput.split(','); // Dividi il valore degli input in un array di tag separati dalla virgola
        var uniqueTags = []; // Array per memorizzare i tag unici

        // Verifica se ci sono tag duplicati
        for (var i = 0; i < tagsArray.length; i++) {
          var tag = tagsArray[i].trim();
          if (uniqueTags.indexOf(tag) === -1) {
            uniqueTags.push(tag); // Aggiungi il tag all'array se non è duplicato
          } else {
            $('#tag-error').text('I tag non possono contenere duplicati.');
            return false; // Ferma l'invio del form se sono presenti tag duplicati
          }
        }

        $('#tag-error').text(''); // Rimuovi il messaggio di errore se i tag sono stati inseriti correttamente
      }

      var dataInizio = new Date($('#data_inizio').val());
      var dataFine = new Date($('#data_fine').val());

      // Verifica se la data di fine è minore della data di inizio
      if (dataFine < dataInizio) {
        $('#date-error').text('La data di fine deve essere maggiore o uguale alla data di inizio.');
        return false; // Ferma l'invio del form
      }

      $('#date-error').text('');

     var validTimes = true;

     if ($('#include_schedule').is(':checked')) {
       $('input[id^="orario_inizio"]').each(function () {
         var startTime = $(this).val();
         var index = $(this).attr('id').replace('orario_inizio', '');
         var endTime = $('#orario_fine' + index).val();

         if (!validateTimeFormat(startTime) || !validateTimeFormat(endTime)) {
           $('#time-error').text('Inserisci gli orari nel formato HH:mm.');
           validTimes = false;
           return false; // Esci dal ciclo each
         }
       });
     }

      if (!validTimes) {
        return false; // Ferma l'invio del form
      }

       $('#time-error').text('');

    });
    {% if anno and mese and giorno %}
        var year = {{ anno }};
        var month = {{ mese }};
        var day = {{ giorno }};

        // Aggiungi zeri iniziali se necessario
        if (month < 10) {
          month = '0' + month;
        }
        if (day < 10) {
          day = '0' + day;
        }

        // Formatta la data nel formato "YYYY-MM-DD"
        var formattedDate = year+ '-' + month + '-' + day;

        // Imposta la data di inizio predefinita
        $('#data_inizio').val(formattedDate);

        // Disabilita il campo di input per la data di inizio
        $('#data_inizio').prop('readonly', true);
      {% endif %}
  });
</script>